
@media screen and (max-width: 1400px) {
  #profile {
    /* height: 83vh; */
    margin-bottom: 6rem;
  }
  .about-containers,
  .projects-container {
    flex-wrap: wrap;
  }

  #about,
  #experience {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container,
  .projects-details-container {
    margin-top: 2rem;
  }

  #profile, 
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section, 
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 2%;
    padding: 3vh;
  }

  .section-pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers,
  .projects-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact, 
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  .menu-links a {
    font-size: 1.2rem;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .projects-container,
  .contact-info-upper, 
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: .1rem 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .contact-info-container:nth-child(2) .icon {
    height: 1.6rem;
  }
  .email-icon {
    height: 2rem;
  }

  .experience-subtitle {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  section >p:nth-child(3) {
    font-size: 1.25rem;
    /* color: tomato; */
    /* border: 1px solid #000; */
  }

  .section-text p:nth-child(3) {
    font-size: 1.25rem;
  }
  
  .section-text>p:nth-child(2),
  section>p:nth-child(2) {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .project-content {
    gap: 0.5rem;
  }

  .project-image {
    box-shadow: 0px 2px 10px 3px hsl(0, 0%, 70%);
  }

  .projects-subtitle {
    font-size: 1.3rem;
    /* height: 3.2rem; */
  }
}