body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: fit-content;
  background-color: black;
}

#calculator {
  display: flex;
  flex-direction: column;
  max-width: 405px;
  overflow: hidden;
}
#display {
  margin-bottom: 20px;
  background-color: transparent;
  text-align: end;
  border: none;
  outline: none;
  color: white;
  padding-right: 6px;
}
.large {
  font-size: 6rem;
}
.mid {
  font-size: 5rem;
}
.small {
  font-size: 4rem;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.15s ease-in-out;
}
#zeroBtn {
  grid-column: span 2;
  width: 195px;
  border-radius: 50px;
  text-align: left;
  padding-left: 40px;
}

@media screen and (max-width: 600px) {

  #calculator {
    max-width: 320px;
    position: fixed;
    bottom: 20px;
  }

  #display {
    margin-bottom: 10px;
    padding-right: 2px;
  }
  .large {
    font-size: 5rem;
  }
  .mid {
    font-size: 4rem;
  }
  .small {
    font-size: 3rem;
  }

  #keys {
    gap: 10px;
  }

  button {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
  }

  #zeroBtn {
    width: 152px;
    padding-left: 30px;
  }
}

.ash-keys {
  background-color: hsl(0, 0%, 85%);
  color: black;
}
.orange-keys {
  background-color: hsl(35, 100%, 55%);
}
.active {
  color: hsl(35, 100%, 55%);
  background-color: white;
}

.black-keys {
  background-color: hsl(0, 0%, 30%);
}
.ash-keys:hover {
  background-color: hsl(0, 0%, 70%);
}
.orange-keys:hover {
  background-color: hsl(35, 100%, 40%);
}
.black-keys:hover {
  background-color: hsl(0, 0%, 20%);
}
.ash-keys:active {
  background-color: hsl(0, 0%, 60%);
}
.orange-keys:active {
  background-color: hsl(35, 100%, 45%);
}
.black-keys:active {
  background-color: hsl(0, 0%, 25%);
}